.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #fce9c9;
  color: white;
  font-family: "Montserrat";
}

header {
  display: flex;
  padding: 10px 0 10px 0;
  background-color: #154d81;
  color: white;
  margin-top: 20px;
  font-weight: bold;
  justify-content: center;
}

.post {
  padding-top: 10px;
  color: black;
  background-color: white;
  border: slategray solid 2px;
}

.post > p {
  margin-top: 10px;
}

.image {
  margin-top: 20px;
  margin-bottom: 10px;
}

.profile-page {
  border: rgb(91, 104, 117) solid 2px;
  margin-bottom: 40px;
}

.profile-button {
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #e1c699;
  border: 1px solid black;
  border-radius: 5px;
}

.profile-button:hover {
  background-color: rgb(197, 161, 98);
  color: white;
}

.style-button {
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #bfdbff;
  border: 1px solid black;
  border-radius: 5px;
}

.style-button:hover {
  background-color: #99c5ff;
}

.profile-data {
  margin-top: 50px;
}

.like-button {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #eed8d8;
  border: 1px solid black;
  border-radius: 5px;
}

.like-button:hover {
  background-color: #eebdbd;
}